

body {
  background-color: #a13434;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #404041
}

nav {
  list-style-type: none;
}

li {
  color: white;
  display: inline;
  padding: 10px;
  text-align: center;
}

a {
  color: white;
}

img {
  position: relative;
}
