#heading {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container img {
  margin: 8px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.selected {
  opacity: 0.5;
  border: 1px solid dodgerblue;
}
