body {
  display: block;
  margin: auto;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

div {
  border: solid 0.2rem #2CB0D5;
  width: 800px;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

img {
  height: 300px;
}

h2 {
  text-shadow: 2px 2px #2CB0D5;
}

select {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 20px;
  border: solid 0.2rem #2CB0D5;
}

#title {
  height: 200px;
}

.ingredientsDiv {
  border-top: solid 0.2rem #2CB0D5;
  width: 600px;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}
