<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students of Hogwarts</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Hogwarts History</h1>
    <nav>
      <ul>
        <li> <a href="/hogwarts-students">Students</a> </li>
        <li> <a href="/hogwarts-students/new">Add a new student</a> </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
