<form action="/hogwarts-students" method="post">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" name="first_name"/>

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" name="last_name"/>

  <label for="student-house">The sorting hat chose: </label>
  <select id="student-house" name="house_id">
    <% @houses.each do |house| %>
    <option value=<%= house.id %>><%= house.name %></option>
    <%end %>
  </select>

  <label for="age">Age: </label>
  <input id="age" type="number" name="age" min="10"/>

  <input type="submit" value="Add Student"/>
</form>
