#cats {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
}

body {
  background-color: rgb(23, 233, 233);
}

h1 {
  text-align: center;
  margin-top: 4rem;
}

ul {
  margin: 2rem;
  background-color: white;
}

li {
  list-style-type: none;
  margin: 1rem;
}

img {
  border: 2rem solid rgb(23, 233, 233);
  width: 500px;
}
