@font-face {
  font-family: 'Starjedi';
  src: url("Starjedi.ttf") format("truetype");
}

header {
  justify-content: center;
  display: flex;
}

h1 {
  font-family: 'Starjedi';
}

h2 {
  font-family: 'Starjedi';
  display: block;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  height: 300px;
  border-radius: 30px;
}

#main-div {
  margin: 3rem;
}

#planet-div {
  float: left;
  margin-right: 1rem;
  margin-left: 10rem;
}

#ship-div {
  float: right;
  margin-right: 10rem;
  margin-left: 1rem;
}
