@font-face {
  font-family: 'Starjedi';
  src: url("Starjedi.ttf") format("truetype");
}

header {
  justify-content: center;
  background-image: url('../images/header_background.png');
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Starjedi';
  color: #ffd700;
  text-align: center;
  -webkit-text-stroke: 1px black;
  margin: 0;
  overflow: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(204, 204, 204, 0.5);
}

img {
  height: 300px;
  max-width: 400px;
  border: 2px solid #ffd700;
  border-radius: 30px;
}

select {
  color: #ffd700;
  background-color: black;
  border: 2px solid #ffd700;
  border-radius: 5px;
}

#main-div {
  width: 100%;
  border-top: 6px solid #ffd700;
}

#planet-div {
  max-width: 550px;
  float: left;
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  border: 3px solid #ffd700;
  border-radius: 5px;
  padding: 5px;
}

#ship-div {
  max-width: 550px;
  float: right;
  margin-top: 1rem;
  margin-right: 2.5rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
  border: 3px solid #ffd700;
  border-radius: 5px;
  padding: 5px
}
