.cell {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  opacity: 0.8;
}

.cell:hover {
  opacity: 1;
  border: 1px solid red;
}

.cross {
  background-image: url('./images/cross.jpg');
  background-size: contain;
}

.nought {
  background-image:  url('./images/nought.png');
  background-size: contain;
}
