body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  background-color: yellow;
}

ul {
  background-color: red;
  padding: 0.5em;
}

li {
  display: inline;
  padding: 5em;
}

a {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:hover {
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 50%;
}
