<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style.css">
  <title>Rock Paper Scissors</title>
</head>
<body>
  <img src="http://static1.squarespace.com/static/595543f6b11be1695b0fdb29/t/59555414cd0f68572370bb64/1498764324553/DFP-RockPaperScissors-Black.png?format=1000w">
</body>
<nav>
  <ul>
    <li><a href="/">Home</a> </li>
    <li><a href="/instructions">Instructions</a> </li>
  </ul>
</nav>
<%=yield%>
</html>
